.description__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 10px;
  font-size: 34px;
  line-height: 36px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.description__text {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-family: 'Roboto', san-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  background-color: rgba(220, 220, 220, 0.1);
}

.description__text::last-child {
  margin-bottom: 0;
}

.description__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2px;
  height: 100%;
  background-color: lightgray;
}

.description__mark {
  color: red;
}

@media (min-width: 1366px) {
  .description__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 34px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .description__text {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', san-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: transparent;
  }

  .description__text::last-child {
    margin-bottom: 0;
  }

  .description__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .description__mark {
    color: red;
  }
}


@media (min-width: 1440px) {
  .description__title {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-size: 34px;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }

  .description__text {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', san-serif;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    background-color: transparent;
  }

  .description__text::last-child {
    margin-bottom: 0;
  }
  .description__text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .description__mark {
    color: red;
  }
}
